
#pic1 {
    position: absolute;
    left: 40%;
    top: 25%;
    display:none;
}
#pic2 {
    position: absolute;
    left: 40%;
    top: 25%;
    display:none;
}
#pic3 {
    position: absolute;
    left: 40%;
    top: 25%;
    display:none;
}